.header {
  padding: 50px;
  text-align: center;
  color: rgb(245, 73, 4);
  background-color: #EEBCA1;
  background-size: cover;
  height: 500px;
}

.header h1 {
  font-size: 20px;
}

.header img {
  margin-top: 10px;
  width: 40vw;
  height: 60vh;
}